.reg_head{background: #fff;}
.lianjie_B{width:980px;border-bottom:1px solid #ccc;margin:auto;}
.register_body{background: #fff}
.register_head{background: url(../images/bg/user_register.png) no-repeat 20px top;height:62px;}
.reg_logo{margin-bottom: 20px;}
.reg_logo ul{border-bottom: 3px solid #ff4001 !important;}
.reg_logo ul li{padding-left: 20px;width: 150px;text-align: center;}
.reg_logo ul li a{background-color: #ff4001!important;color:#fff!important;font-family: 13px;}





.explain{height: 20px;color:#ccc;}
.go-register{height: 24px}
.register_pic{width: 508px;height:358px;padding-top:100px;}
.register_pic img{width:100%;height:100%;}